* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(225, 243, 255);
    font-size: 18px;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 10px;
    justify-content: center;
    align-items: center;
}

.content {
    padding-top: 150px;
    justify-content: center;
}

.content h1 {
    text-align: center;
    font-weight: 700;
    border-style: solid;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-width: 5px;
    border-bottom-color: black;
}

.container {
    padding: 0;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    margin: 80px 15px;
    gap: 20px;
    padding-bottom: 100px;
    position: relative;
}

.card {
    background: cornsilk;
    width: 70%;
    height: auto;
    grid-column: span 8;
    margin: 10px 105px;
    border-radius: 15px;
    position: relative;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .1);
    background-color: rgb(255, 255, 255);
    transition: all 0.5s;
}

.head-card {
    height: 100px;
    width: 70px;
    padding-top: 10px;
    margin-bottom: 5px;
}

.head-card img {
    width: 100%;
    margin-left: 50px;
    height: 150px;
    object-fit: cover;
}

.body-card h1 {
    color: rgb(167, 49, 49);
    margin: 0;
    text-align: center;
    font-size: 24px;
    padding-top: 100px;
}

.body-card {
    /* margin-top: 20px; */
    padding: 100px 15px;
}

.body-card p {
    margin: 0;
    text-align: center;
    font-size: 15px;
    color: rgb(169, 169, 169);
}

.card:hover {
    -webkit-transform: scale(1, 05);
    transform: scale(1.05);
    cursor: pointer;
}

@media screen and (min-width: 550px) {
    .card {
        grid-column: span 4;
    }
}