.child {
    width: 219px;
    height: 205px;
    padding: 106px 188px;
}

.container p {
    position: absolute;
    font-size: 48px;
    font-family: poppins;
    font-weight: bold;
    top: 180px;
    left: 220px;
}

.container {
    margin-top: 80px;
    position: relative;
}

.text {
    font-size: 17px;
    font-family: poppins;
    color: #9A9A9A;
    margin-top: -350px;
    margin-left: 550px;
}

.btn1 {
    font-family: poppins;
    font-size: 14px;
    background: #4A2FB8;
    border-radius: 10px;
    padding: 15px 30px;
    color: white;
    margin-left: 550px;
    margin-top: 300px;
}

a {
    text-decoration: none;
}

.button {
    margin-top: 50px;
}

.btn2 {
    font-family: poppins;
    font-size: 14px;
    background: white;
    border-radius: 10px;
    padding: 15px 30px;
    color: #4A2FB8;
    border: 1px solid #4A2FB8;
    margin-left: 40px;
}